@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;500;600;900&display=swap");
button {
  background: #5ab9ea;
  color: #1f3333;
}

.error {
  color: #ab2121;
}

.or, .nav-block-header, .error.fatal-error, .card-title, .nav-top, .page-title {
  line-height: 1;
  font-style: normal;
  letter-spacing: normal;
}

.page-title {
  font-family: "Encode Sans", Lato, Helvetica, Arial, sans-serif;
  font-size: calc(0.7rem + 3vmax);
  font-weight: 600;
  text-transform: uppercase;
}

.error.fatal-error, .card-title, .nav-top {
  font-family: "Encode Sans", Lato, Helvetica, Arial, sans-serif;
  font-size: calc(0.7rem + 1.5vmax);
  font-weight: 600;
}

.or, .nav-block-header {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: calc(0.7rem + 1.25vmax);
  font-weight: 500;
  text-transform: none;
}

.anchor, .error, .card-link--wrapper, .card-paragraph, .card-paragraph-body, .nav-block-list-item, button, p, .card-paragraph-title, .card-content {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.45;
}

.card-paragraph-title, .card-content {
  font-size: calc(0.7rem + 1.25vmax);
  font-weight: 400;
  text-transform: none;
}

.error, .card-link--wrapper, .card-paragraph, .card-paragraph-body, .nav-block-list-item, button, p {
  font-size: calc(0.7rem + 0.5vmax);
  font-weight: 400;
  text-transform: none;
}

.anchor {
  font-size: calc(0.7rem + 0.5vmax);
  font-weight: 900;
  text-transform: uppercase;
}

.card-picture:after {
  will-change: transform;
  transition: transform 300ms ease-out, opacity 300ms ease-out;
}
.card-picture:hover:after {
  transform: translateY(100%) translateX(-20%) scale(4) skewY(50deg);
  opacity: 0;
}

.card-link--wrapper > a, .card-main, .card-paragraph-list-pins, .card-paragraph-body-list-pins {
  display: flex;
  flex-direction: row;
}

.card-link--wrapper, .card-content {
  display: flex;
  flex-direction: column;
}

.close-button, .card-link-prepend {
  display: flex !important;
  place-content: center;
  place-items: center;
}

.card-picture {
  position: relative;
  overflow: hidden;
}
.card-picture:after {
  top: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.35) 3%, rgba(255, 255, 255, 0));
  transform: translateX(-20%) scale(4) skewY(50deg);
  background-repeat: no-repeat;
  content: "";
  background-size: cover;
}

.card-paragraph-list-pins, .card-paragraph-body-list-pins {
  gap: calc(5px + 1vmax * 1);
  flex-wrap: wrap;
  place-content: center;
}

.close-button, .icon-field > *, #nav-collapse--button, button {
  cursor: pointer;
  transition: transform 200ms ease-out;
}
.close-button:hover, .icon-field > :hover, #nav-collapse--button:hover, button:hover {
  transform: scale(1.1);
}

.click-effect, .anchor-active {
  animation: clickEffect 750ms ease-out;
}
@keyframes clickEffect {
  from {
    filter: brightness(2.5);
  }
  to {
    filter: brightness(1);
  }
}

.material-icons {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fly, .page {
  animation: fly 0.6s 1 ease-out;
}

:root {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: calc(0.7rem + 0.5vmax);
  min-width: 100vw;
  background: linear-gradient(50deg, #1a2980, #26d0ce);
  -webkit-font-smoothing: antialiased;
  color: white;
  --bottom-space: 0px;
  --color: #10194d;
}

a {
  display: block;
}

a,
a:visited {
  color: currentColor;
  text-decoration: none;
  transition: all 100ms ease;
}

ul {
  padding-inline-start: calc(5px + 1vmax * 1.5);
  list-style-type: none;
}

p {
  max-width: 75ch;
}

button {
  font-weight: 500;
  padding: calc(5px + 1vmax * 0.25) calc(5px + 1vmax * 0.5);
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  display: block;
  margin: calc(5px + 1vmax * 0.5) auto;
}

iframe {
  width: 100%;
  height: 100%;
  display: block;
}

/* SPECIFIC */
/* ROOT */
#root {
  color: #f5e8c5;
  position: relative;
}

[v-cloak] {
  visibility: hidden;
}

/* BACKGROUND */
#background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  will-change: transform;
}

#background--wrapper:after {
  position: absolute;
  content: "";
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.4), transparent);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#background--wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -100;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(50deg, #1a2980, #26d0ce);
}

/* NAV */
#main-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.nav-main * {
  padding: calc(5px + 1vmax * 0.2) 0 calc(5px + 1vmax * 0.2) calc(5px + 1vmax * 0.7);
}

.nav-main {
  padding: calc(5px + 1vmax * 1) 0;
}

.nav-block-header {
  text-shadow: 1px 1px 5px black;
  border-bottom: 1px solid white;
}

.nav-block-list-item {
  border-radius: 10px 0 0 10px;
  transition: transform 200ms ease;
}
.nav-block-list-item:hover, .nav-block-list-item.active {
  transform: scale(1.05);
}
.nav-block-list-item:hover:after, .nav-block-list-item.active:after {
  width: 100%;
}
.nav-block-list-item.active::after {
  background-color: var(--color);
}
.nav-block-list-item:hover {
  cursor: pointer;
}
.nav-block-list-item:after {
  content: "";
  margin: 1px auto 1px -1ch;
  display: block;
  border-radius: 100px;
  height: 2px;
  background-color: white;
  width: 0;
  transition: background-color 300ms ease-out, width 200ms ease-out;
}

.nav-top {
  flex: 1;
  padding: 10px;
  box-shadow: 0px 5px 37px -2px rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  place-content: center;
  place-items: center;
}

.nav-main {
  flex: 10;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 10px;
}

#nav-footer {
  display: flex;
  flex: 1;
  box-shadow: 0px -5px 37px -2px rgba(0, 0, 0, 0.5);
  place-items: center;
  place-content: center;
}
#nav-footer > * {
  flex: 1;
}
#nav-footer *:first-child ~ * {
  border-left: 1px solid white;
}
#nav-footer .icon-field {
  font-size: calc(5px + 1vmax * 0.6);
}

#nav-collapse--button {
  will-change: transform;
  position: absolute;
  transition: opacity 200ms ease;
  height: 40%;
  width: 40%;
  left: 30%;
  border-radius: 1000px 1000px 0 0;
  display: flex;
  place-content: center;
  font-size: 40px;
  top: calc(-1 * var(--bottom-space));
  z-index: -200;
  opacity: 0.5;
  background-color: black;
}

#main-nav--wrapper {
  inset: 0;
  z-index: 90;
  position: fixed;
  overflow: visible;
  height: 100%;
  top: 0;
  left: 0;
}

.icon-field {
  text-align: center;
  padding: calc(5px + 1vmax * 0.1);
  transition: transform 100ms ease;
}
.icon-field > * {
  width: 100%;
  height: 100%;
  display: block;
}
.icon-field img {
  width: calc(5px + 1vmax * 1.5);
  height: calc(5px + 1vmax * 1.5);
}
.icon-field .material-icons {
  font-size: 2em;
}

/* NAV/BACKGROUND */
@supports (backdrop-filter: blur(2px)) {
  #background {
    filter: none;
  }
}
/* MAIN VIEW */
#main-view {
  transition: background-color 150ms ease-in;
}

/* PAGE */
.page {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  min-height: 50vh;
  padding: calc(5px + 1vmax * 2) calc(5px + 1vmax * 1);
  padding-bottom: var(--bottom-space);
}
.page .spacer {
  width: 60%;
  height: 1px;
  background-color: white;
  margin: 1rem auto 1.5rem auto;
  opacity: 0.5;
}
.page .row {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem auto;
  width: fit-content;
}
.page-paragraph {
  padding: calc(5px + 1vmax * 1);
  width: 100%;
}
.page-paragraph-center {
  text-align: center;
}
.page-paragraph-body {
  margin-left: auto;
  margin-right: auto;
}

/* CARD */
.card-link--wrapper > a, .card-paragraph-list-pins > li, .card-paragraph-body-list-pins > li {
  font-weight: 500;
  min-width: 13ch;
  padding: calc(5px + 1vmax * 0.5) calc(5px + 1vmax * 0.75);
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.5);
}

.card-paragraph-list-pins > li, .card-paragraph-body-list-pins > li {
  border: 1px solid;
  box-shadow: none;
}

.card {
  display: flex;
  flex-direction: column;
}
.card-top {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.card-picture {
  height: calc(5px + 1vmax * 15);
  position: relative;
  display: block;
  transition: filter 300ms ease-out, margin-top 600ms cubic-bezier(0.23, 1, 0.32, 1);
  filter: brightness(80%);
}
.card-picture + div {
  transition: box-shadow 300ms ease-out, transform 300ms ease-out, background-color 300ms ease-out;
}
.card-picture:hover {
  filter: brightness(100%);
}
.card-picture:hover + div {
  box-shadow: none !important;
  transform: translateY(5px);
}
.card-picture:hover img {
  transform: scale(1.02);
}
.card-picture img {
  transition: transform 300ms ease-out;
  object-fit: cover;
  object-position: 0 5%;
  width: 100%;
}
.card, .card-content {
  transition: background-color 300ms ease-out;
}
.card-content {
  min-height: 100vh;
  height: 100%;
  padding: calc(5px + 1vmax * 1);
  padding-bottom: var(--bottom-space);
  position: relative;
}
.card-title {
  font-size: calc(0.7rem + 3vmax);
  max-width: calc(5px + 1vmax * 45);
  min-width: 50%;
}
.card-body {
  box-shadow: -77px 0px 40px -103px black inset;
  padding-top: calc(5px + 1vmax * 1);
  padding-bottom: 0;
  flex: 1 1 auto;
}
.card-main {
  flex: 1 1 auto;
}
.card-paragraph {
  min-height: 7rem;
}
.card-paragraph, .card-paragraph-body {
  margin: calc(5px + 1vmax * 1);
  margin-bottom: 0;
}
.card-paragraph-list, .card-paragraph-body-list {
  list-style-type: disc;
}
.card-paragraph-list-pins, .card-paragraph-body-list-pins {
  align-items: center;
}
.card-paragraph-list-pins > li, .card-paragraph-body-list-pins > li {
  width: 25%;
}
.card-paragraph-body-list.card-paragraph-body-list-pins {
  list-style-type: none;
}
.card-link {
  text-transform: uppercase;
  font-weight: 600;
}
.card-link--wrapper {
  gap: calc(5px + 1vmax * 1);
  margin: calc(5px + 1vmax * 1) auto;
  padding: calc(5px + 1vmax * 1);
  max-width: fit-content;
}
.card-link--wrapper > a {
  font-weight: 900;
  background-color: var(--bg-color);
  min-width: 15ch;
  text-align: left;
  gap: calc(5px + 1vmax * 0.5);
  align-items: center;
}
.card-link-prepend {
  width: calc(1rem + calc(5px + 1vmax * 1));
  height: calc(1rem + calc(5px + 1vmax * 1));
  font-size: calc(calc(1rem + calc(5px + 1vmax * 1)) * 0.8775);
}
.card-link-prepend.material-icons {
  font-size: calc(calc(1rem + calc(5px + 1vmax * 1)) * 0.8775) !important;
}
.card-link-prepend.card-link-append {
  margin-left: auto;
  border: none;
}
.card-bottom {
  position: relative;
}
.card-bottom::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: black;
  opacity: 0.2;
}
.card-note {
  font-size: calc(5px + 1vmax * 0.7);
  opacity: 0.8;
  font-style: italic;
}
.card-note > li {
  list-style-type: none;
  margin: calc(5px + 1vmax * 0.1) calc(5px + 1vmax * 0.35);
}
.card-note > li::before {
  content: "<!>";
  margin-right: calc(5px + 1vmax * 0.2);
  font-weight: bold;
}

.triple-arrow-right {
  display: flex;
  margin-right: calc(5px + 1vmax * 0.5);
}
.triple-arrow-right * {
  height: calc(5px + 1vmax * 3);
  width: calc(5px + 1vmax * 3);
}

/* LOADER */
.loader {
  height: 5px;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 100;
}
.loader > div:last-child {
  background: #26d0ce;
  opacity: 0.1;
}
.loader > div {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  animation-name: animation;
  animation-iteration-count: infinite;
  animation-duration: 4000ms;
}

.loader > div:nth-child(1) {
  animation-name: animation-1;
  background: linear-gradient(to right, rgba(38, 208, 206, 0.3), #4bdedc);
}

.loader > div:nth-child(2) {
  animation-name: animation-2;
  background: linear-gradient(to right, rgba(38, 208, 206, 0.3), #76e6e5);
}

.loader > div:nth-child(3) {
  animation-name: animation-3;
  background: linear-gradient(to right, rgba(38, 208, 206, 0.3), #a1eeed);
}

@keyframes animation-1 {
  0% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(0%);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes animation-2 {
  0% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0%);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes animation-3 {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  75% {
    transform: translateX(0%);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* ERROR */
.error.fatal-error {
  margin: calc(5px + 1vmax * 2);
  text-align: center;
}

/* GENERAL */
.close-button {
  position: absolute;
  right: 0;
  top: 0;
  font-size: calc(0.7rem + 1vmax);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 1.5em;
  height: 1.5em;
  margin: 0.5em;
}

.v-hidden {
  visibility: hidden;
}

.anchor:hover {
  cursor: pointer;
  color: #10194d;
}
.anchor-active {
  color: #10194d;
}
.anchor-active:hover {
  cursor: auto;
}

.mask-image {
  background-color: white;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.link-no-content > * {
  visibility: hidden;
  content: "";
  color: transparent;
}

.skeleton {
  position: relative;
}
@keyframes shine {
  to {
    background-position: right -40px top 0;
  }
}
.skeleton::after {
  background-color: var(--color);
  transition: opacity 250ms ease-out, visibility 250ms ease-out;
  visibility: hidden;
  opacity: 0;
  content: "";
  z-index: 10;
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-size: 40px 100%;
  background-repeat: no-repeat;
  background-position: left -40px top 0;
  top: 0;
  left: 0;
}
.skeleton-active::after {
  visibility: visible;
  opacity: 1;
  animation: shine 1s ease infinite;
}

/* ANIMATION */
@keyframes fly {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* MEDIA */
@media (min-width: 575.98px) {
  #main-view-wrapper {
    margin-left: 25vmax;
    width: calc(100vw - 25vmax);
  }

  #main-nav--wrapper {
    width: 25vmax;
    border-right: 2px solid white;
  }

  .nav-main {
    padding-left: calc(5px + 1vmax * 0.5);
  }

  #nav-collapse--button {
    visibility: hidden;
  }

  #background--wrapper {
    background-image: none;
  }
}
@media (max-width: 575.98px) {
  body {
    --bottom-space: 40px;
  }

  #main-nav--wrapper {
    width: 100%;
  }

  #main-view-wrapper {
    width: 100vw;
    overflow-x: hidden;
  }

  #nav-collapse--button {
    visibility: visible;
  }
}
@media (max-width: 900px) {
  .card-body {
    box-shadow: none;
    flex: 0 1 auto;
  }

  .card-link--wrapper {
    flex-direction: row;
  }

  .card-main {
    flex-direction: column;
    gap: calc(5px + 1vmax * 1);
  }
}

/*# sourceMappingURL=global.css.map */
