<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>My Projects</title>
  <meta name="description" content="Link Hub for my differents projects" />
  <meta name="author" content="Rylox" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link rel="stylesheet" href="style/style.css" />
  </link>
</head>
<body>
  <main v-cloak id="root">
    <div id='nav-collapse--button' @click='toggleNav()'>
      <img src="./assets/images/double-up-arrow.png" alt="">
    </div>
    <div id='main-nav--wrapper'>
      <div id="background--wrapper">
        <canvas id='background' width='464' height='1000'>
        </canvas>
      </div>
      <nav id='main-nav'>
        <div class="nav-top">My Portfolio</div>
        <div class='nav-main'>
          <div class="nav-block" @mouseleave='resetParalax()'>
            <div class="nav-block-header">Projects</div>
            <div class="nav-block-list">
              <div class="nav-block-list-item" v-for="(item, index) in cards"
                @click="changeRoute('card');changeCard(index)" @mouseenter='handleParalax(index)'>{{item.title}}
              </div>
            </div>

          </div>
          <div class="nav-block" @mouseleave='resetParalax()'>
            <div class="nav-block-header">Other</div>
            <div class="nav-block-list">
              <div class="nav-block-list-item" @click="changeRoute('front')" @mouseenter='handleParalax(cards.length)'>
                Front
                Page
              </div>
            </div>
          </div>
        </div>
        <div id="nav-footer">
          <div class="icon-field">
            <a href="mailto:ah.alain.di@gmail.com">
              <img src="./assets/images/at.png" alt="mail">
            </a>
          </div>
      </nav>
    </div>
    <div id='main-view-wrapper'>
      <div id='main-view'>
        <page v-if="selectedRoute==='front'" v-bind:title="'Welcome'" v-bind:paragraphs="[{title:``, content:`Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus repellat corrupti totam
            placeat error enim
            expedita deserunt maxime laboriosam minima iste, ipsa ex incidunt eaque distinctio nulla. Saepe, dolor
            cupiditate?`}]">
        </page>
        <div v-if="selectedRoute ==='card'" @touchstart='lock($event)' @touchend='end($event)'
          @touchmove='move($event)'>
          <card v-bind:card="selectedCard" v-bind:index="selectedCardIndex" />
        </div>
      </div>
    </div>
  </main>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
  <script type="module" src="./src/index.js"></script>
</body>

</html>