@import url("./error.css");
@import url("button.css");
* {
  box-sizing: border-box;
}
body {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: darkgray;
}
header {
  background-color: grey;
  border-bottom : 2px solid black;
}
main {
  padding: 0 5vw;
  background-color: aliceblue;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
main > *{
    padding : 5vh 1vw;
}
footer{
    min-height: 20vh;
    display: grid;
    place-items: center;
    border-top : 2px solid black;
}
input{
    padding : 1vh 1vw;
}
#side > *{
    margin : 0;
    background-color: rgba(0, 0, 0, 0.3);
}
#side{
    background-color: rgba(0, 0, 0, 0.3);
    padding : 1vh 0;
}
#content{
    background-color : white;
}
#signUp {
  display: block;
  padding : 10px;
  text-align: left;
}
#signUp .inputField {
  display: grid;
  grid-auto-flow: dense;
  padding : 5px;
}
#submitButton {
  width: 50%;
  margin: 1% auto;
}
