@import url("./error.css");
@import url("./button.css");
@import url("./scrollbar.css");
* {
  box-sizing: border-box;
}
body {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: darkgray;
  font-size: max(1.3vw, 15px);
}
header {
  background-color: grey;
  border-bottom: 2px solid black;
}
main {
  padding: 0 5vw;
  background-color: aliceblue;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
main > * {
  padding: 5vh 1vw;
}
footer {
  min-height: max(10vh, 100px);
  display: grid;
  place-items: center;
  border-top: 2px solid black;
}
input {
  padding: 1vh 1vw;
}
#side > * {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
#side {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1vh 0;
}
#data-display {
  background-color: white;
  overflow-x: scroll;
}
#data-display > :not(:last-child) {
  border-bottom: 2px solid black;
  margin-bottom: 20px;
  min-width: max(500px, 30vw);
}
#data-entry {
  display: flex;
  flex-direction: column;
  grid-auto-flow: row;
  padding: 10px;
  text-align: left;
  margin : auto 0;
}
#data-entry > * {
  margin-bottom: 10px;
  height: max(200px, 15vh);
}
#data-entry .inputField {
  display: grid;
  grid-auto-flow: dense;
  padding: 5px;
  height: 100px;
  
}
#data-entry .inputField input {
  text-align: center;
}
#controls {
  display: grid;
  column-gap: 0.5vw;
  row-gap: 0.5vh;
  grid-template-columns: 1fr 1fr;
}
#coor-list {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, minmax(50px, 1fr));
  column-gap: 2px;
  row-gap: 2px;
  overflow-y: scroll;
  min-height: 40px;
  max-height: 20vh;
}
#coor-list > * {
  background-color: rgba(0, 0, 0, 0.1);
}
#load-stored-data-pane {
  display: grid;
  grid-auto-columns: 1fr 1fr;
}
#user-select-file-pane {
  display: grid;
  grid-template-columns: 1fr;
}
#chart-display {
  min-width: 30vw;
  min-height: 20vh;
}
select, input{
  max-height: 50px;
}