@import url("./error.css");
@import url("./button.css");
:root {
  --note-width: max(300px, calc(100vw / 4));
  --display-height: max(300px, 20vh);
  --note-linear-gradient: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}
* {
  box-sizing: border-box;
}
body {
  font-size: max(2vh, 2vw);
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: grey;
  min-width: max(400px, 80vw);
  max-width: 100vw;
}
header {
  background-color: black;
  color: white;
}
main {
  background-color: aliceblue;
  min-height: 90vh;
}
#notesDisplay {
  display: grid;
  grid-template-columns:  auto 3fr;
  height: var(--display-height);
}
#notesDisplay * {
  border-style: none;
}
#notesDisplay *::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
#notesDisplay *::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
#notesDisplay *::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
#notesDisplay *::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
#notesDisplay *::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}
#notesDisplay *::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
#notesDisplay *::-webkit-scrollbar-track:hover {
  background: #666666;
}
#notesDisplay *::-webkit-scrollbar-track:active {
  background: #333333;
}
#notesDisplay *::-webkit-scrollbar-corner {
  background: transparent;
}
#notesDisplay ol {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: scroll hidden;
}

#notesDisplay ol li {
  display: flex;
  flex-direction: row;
  min-width: var(--note-width);
  background: var(--note-linear-gradient);
  border-right: 10px solid black;
  text-align: left;
  overflow: hidden;
}
#notesDisplay ol li span {
  width: 95%;
  padding: 10px;
  word-wrap: break-word;
  overflow-y: scroll;
}
#noteAddPane {
  display: flex;
  flex-direction: row;
}
#noteAddPane textarea {
  padding: 10px;
  overflow-y: scroll;
}
