<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Battleship</title>
    <meta name="description" content="Battleship game" />
    <meta name="author" content="Rylox" />
    <link rel="stylesheet" href="./style/style.css" />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/solar/bootstrap.min.css"
    />
  </head>
  <body style="min-width: 778px">
    <header class="container-fluid display-4" style="text-align: center">
      Battleship
    </header>
    <main v-cloak id="app" class="container my-5 p-3">
      <div v-if="game != null && !done">
        <div>
          <div id="top-display" class="row mx-0">
            <div class="hit-miss-display mx-0" col-6>
              <label> Hit </label>
              <span class="text-success">{{ hit }}</span>
            </div>
            <div class="hit-miss-display mx-0" col-6>
              <label> Miss </label>
              <span class="text-danger">{{ miss}}</span>
            </div>
          </div>
          <ul class="board" style="padding: auto">
            <li v-for="(row, rowIndex) of board">
              <ul>
                <li>
                  <button
                    class="btn-info cell rounded p-4 m-1"
                    @click="shoot(rowIndex, colIndex)"
                    v-for="(col, colIndex) of row"
                    v-bind:style="{ background: board[rowIndex][colIndex] }"
                  ></button>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <ul id="color-map" class="list-group">
          <li
            style="
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
            "
            v-for="(x, y) in colorMap"
            class="list-group-item"
          >
            <label>{{y}} {{x.squares}}x</label
            ><button
              :style="{background : x.color, minWidth : 30 +'px', minHeight : 30 + 'px'}"
            ></button>
          </li>
        </ul>
      </div>
      <button class="btn btn-success" v-if="game == null" @click="startGame()">
        Start a new game
      </button>
      <div v-if="done" class="col-12">
        <p>Game Finished</p>
        <p>
          Your score : Hit: <span class="text-success">{{ hit}}</span> | Miss:
          <span class="text-danger">{{ miss }}</span>
        </p>
        <button @click="replay()" class="btn btn-success">Play again</button>
      </div>
    </main>
    <footer class="container-fluid" style="text-align: center">
      Designed by Rylox
    </footer>
    <script type="module" src="src/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </body>
</html>
